@(abssubmissions: List[AbsSubmission], abssubmissionForm: Form[AbsSubmission], user : User)

@import helper._
    
@main("Submitted Abstracts", user) {
	
	    <div id="pageMiddle">
    
    <h2>@abssubmissions.size() submission(s)</h2>
    
    
    <h2>Add a new Abstract</h2>
    
    <ul class="lists">
    
    @form(routes.Application.newabsSubmission()) {
        
        <li>@inputText(abssubmissionForm("title"), '_label -> "Title")</li>
        
        <li>@inputText(abssubmissionForm("cite"), '_label -> "Authors")</li>
        
        <li>@inputText(abssubmissionForm("link"), '_label -> "Webpage Title")</li>
        
        <li>@inputText(abssubmissionForm("url"), '_label -> "Webpage URL")</li>
        
        <li>@inputDate(abssubmissionForm("publicationDate"), '_label -> "Data Originally Published")</li>
      
        <li>@textarea(abssubmissionForm("abstractBody"), 'rows -> 20, 'cols -> 60, '_label -> "Abstract")</li>
        
        <li><input type="submit" value="Submit" class="loginbtn"></li>
        
    }
    </ul>
    
}

</div>