@(loginform: Form[Application.Login])

@import helper._

<html>
    <head>
        <title>Abstract Submission Application Login</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
<div id="pageTop">
    <div id="pageTopLogo">
        <a href="#" id="logo"><span>Abstract Submission Application Login</span></a>
    </div>
    <div id="linksTop">
        <div id="menu1">
            <div>
            </div>
        </div>
    </div>
 </div>
    <div id="pageMiddle">
    
            
        </header>
        
        <div id="loginform">
           <h2>Abstract User Log In</h2>
           
              @if(loginform.hasGlobalErrors) {
    <p class="error">
        @loginform.globalError.message
    </p>
}

@if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
}
        
<ul class="lists">

@form(routes.Application.authenticate()) {

        <li>@inputText(loginform("email"), '_label -> "Email")</li>
   
        <li>@inputPassword(loginform("password"), '_label -> "Password")</li>
       
        <li><input type="submit" value="Login" class="loginbtn"></li>
}


<li><a href="@routes.Application.signup()"><button class="loginbtn">Sign Up</button></a></li>

</ul>
</div>
</div>    
    </body>
</html>